<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  </head>

  <body data-controller="scroll-to-element">

    <!-- NAVBAR DESKTOP -->
    <nav class="navdesktop">
      <ul>
        <div class="home">
          <li><a href="#"><i class="fa-solid fa-house"></i></a></li>
        </div>
        <div class="liens">
          <li><a href="#" data-action="click->scroll-to-element#scrollCards">Mes services</a></li>
          <li><a href="#" data-action="click->scroll-to-element#scrollAPropos">À propos</a></li>
          <li><a href="#" data-action="click->scroll-to-element#scrollContact">Contact</a></li>
        </div>
      </ul>
    </nav>

    <!-- NAVBAR MOBILE -->
    <nav class="navmobile" data-controller="open-burger-menu"   data-open-burger-menu-target="burgerMenu">
      <div id="hamburger-icon" data-action="click->open-burger-menu#toggleMobileMenu">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
          <ul class="mobile-menu">
            <li><a href="#" data-action="click->scroll-to-element#scrollCards">MES SERVICES</a></li>
            <li><a href="#" data-action="click->scroll-to-element#scrollAPropos">À PROPOS</a></li>
            <li><a href="#" data-action="click->scroll-to-element#scrollContact">CONTACT</a></li>
          </ul>
      </div>
    </nav>

    <!-- BANNER -->
    <div class="banner-home">
      <div class="banner-text">
        <h1 class="banner-big-title">S.A.N.M</h1>
        <h2 class="banner-little-title">SECRÉTAIRE ADMINISTRATIVE NATHALIE MEDINA</h2>
        <h3 class="banner-description">Spécialisée en documents administratifs
        <br>navires et VNM</h3>
      </div>
    </div>

    <!-- EN SAVOIR PLUS -->
    <div class="savoir" data-action="click->scroll-to-element#scrollCards">
      <a href="#">En savoir plus</a>
    </div>

    <!-- FLÈCHES -->
    <a class="arrow" href="#" data-action="click->scroll-to-element#scrollCards">
      <span class="fleche"></span>
      <span class="fleche"></span>
    </a>

    <!-- CARDS -->
    <h2 class="services-h2" data-aos="fade-up">Mes services</h2>
    <div class="container">
      <div class="cards">
        <div class="cool-card-dekstop cool-card-mobile" data-aos="fade-up" data-scroll-to-element-target="cardsAnchor">
          <div class="image">
            <%= image_tag("changement-propriétaire.jpg") %>
          </div>
          <div class="cool-card-infos">
            <h1 class="cool-card-title">Changement de propriétaire bâteau / VNM</h1>
            <p class="cool-card-description">Tout navire de plaisance français naviguant en mer doit être enregistré auprès d’une délégation à la mer et au littoral au sein d'une direction départementale des territoires et de la mer (DDTM - DML)</p>
          </div>
        </div>

        <div class="cool-card-dekstop cool-card-mobile">
          <div class="image">
            <%= image_tag("acte-de-vente.jpg") %>
          </div>
          <div class="cool-card-infos">
            <h1 class="cool-card-title">Acte de vente d’un navire de plaisance ou VNM</h1>
            <p class="cool-card-description">Mutation de propriété d’un navire de plaisance ou VNM entre un ou plusieurs copropriétaires</p>
          </div>
        </div>

        <div class="cool-card-dekstop cool-card-mobile">
          <div class="image">
            <%= image_tag("port-d'attache.jpg") %>
          </div>
          <div class="cool-card-infos">
            <h1 class="cool-card-title">Changement de port d’attache</h1>
            <p class="cool-card-description">Enregistrement du navire auprès de la direction départementale des territoires et de la mer (DDTM - DML)</p>
          </div>
        </div>

        <div class="cool-card-dekstop cool-card-mobile">
          <div class="image">
            <%= image_tag("embarquement-moteur.jpg") %>
          </div>
          <div class="cool-card-infos">
            <h1 class="cool-card-title">Débarquement / Embarquement de moteur</h1>
            <p class="cool-card-description">Tout changement de moteur sur un bâteau de plaisance ou sur un VNM implique une déclaration obligatoire effectuée auprès des administrations dans un délais d’un mois</p>
          </div>
        </div>

        <div class="cool-card-dekstop cool-card-mobile">
          <div class="image">
            <%= image_tag("succession.jpg") %>
          </div>
          <div class="cool-card-infos">
            <h1 class="cool-card-title">Succession</h1>
            <p class="cool-card-description">Mutation de propriété du navire en cas d’héritage d’un bâteau de plaisance</p>
          </div>
        </div>

        <div class="cool-card-dekstop cool-card-mobile">
          <div class="image">
            <%= image_tag("dossier-nuc.jpg") %>
          </div>
          <div class="cool-card-infos">
            <h1 class="cool-card-title">Dossier NUC</h1>
            <p class="cool-card-description">Un navire de plaisance qui pratique une activité commerciale d’embarquement de passagers doit être reconnu comme navire de plaisance à utilisation commerciale (NUC)</p>
          </div>
        </div>

        <div class="cool-card-dekstop cool-card-mobile">
          <div class="image">
            <%= image_tag("pavillon-français.jpg") %>
          </div>
          <div class="cool-card-infos">
            <h1 class="cool-card-title">Demande d’immatriculation pavillon français</h1>
            <p class="cool-card-description">Enregistrement de votre navire de plaisance ou VNM auprès de la DDTM - DML</p>
          </div>
        </div>

        <div class="cool-card-dekstop cool-card-mobile">
          <div class="image">
            <%= image_tag("radiation.jpg") %>
          </div>
          <div class="cool-card-infos">
            <h1 class="cool-card-title">Radiation</h1>
            <p class="cool-card-description">La radiation ou sortie de flotte est la procédure qui permet au propriétaire d’un navire ou d’un VNM de le radier du registre d’immatriculation<br>
            Les raisons pouvant amener à une radiation sont :</p>
            <ul>
              <li>La destruction ou l’immersion du navire</li>
              <li>Le changement en eaux intérieures</li>
              <li>Sortie du territoire français</li>
            </ul>
          </div>
        </div>

        <div class="cool-card-dekstop cool-card-mobile">
          <div class="image">
            <%= image_tag("eaux-interieures.jpg") %>
          </div>
          <div class="cool-card-infos">
            <h1 class="cool-card-title">Enregistrement en eaux intérieures</h1>
            <p class="cool-card-description">L'enregistrement de votre bateau vous donne le droit de naviguer et/ou stationner uniquement en eaux intérieures (rivières, lacs, canaux)</p>
          </div>
        </div>
      </div>
    </div>

    <!-- À PROPOS -->
    <h2 class="about-h2" data-aos="fade-up">À propos</h2>
    <div class="about" data-scroll-to-element-target="aProposAnchor">
      <div class="image-desktop" id="about-anchor" data-aos="slide-right"></div>
      <div class="experience" data-aos="zoom-in">
        <p class="little-title">Nathalie Medina, spécialisée dans les documents anministratifs bâteaux et VNM depuis plus de 30 ans.</p>
        <br>
        <p class="little-text">SANM gère tous vos documents administratifs, bateaux et VNM, professionnels et particuliers. Avec mes 30 ans d'expérience, je prend en charge votre dossier de A à Z.
        <br>
        Traitement personnalisé par téléphone et par mail. Suivi et veille quotidien avec la DDTM et les Douanes. Echanges réactifs de documents directement par mail.</p>
      </div>
    </div>

    <!-- CONTACT -->
    <h2 class="contact-h2" data-aos="fade-up">Me contacter</h2>
    <div class="container">
      <div class="contact" id="contact-anchor" data-scroll-to-element-target="contactAnchor" data-aos="flip-down">
        <h1 class="contact-big-title">S.A.N.M</h1>
        <p class="contact-little-title">SECRÉTAIRE ADMINISTRATIVE NATHALIE MEDINA</p>
        <br>
        <p class="contact-text">
        <i class="fa-solid fa-anchor"></i> &thinsp; Adresse : La Couronne, 13500 Martigues, France
        <br>
        <i class="fa-solid fa-phone"></i> &thinsp; Téléphone : 06 27 50 61 78
        <br>
        <i class="fa-solid fa-envelope"></i> &thinsp; e-mail : 13sanm@gmail.com
        </p>
      </div>
    </div>

    <!-- FOOTER -->
    <div class="footer">
      <div class="footer-content">
        <h1>s.a.n.m</h1>
        <h2>secrétaire administrative nathalie medina</h2>
        <ul class="socials">
          <li><a href="https://www.facebook.com/13SANM" target="_blank"><i class="fab fa-facebook"></i></a></li>
          <%# <li><a href="https://sanm.business.site/?utm_source=gmb&utm_medium=referral" target="_blank"><i class="fab fa-google"></i></a></li> %>
          <%# <li><a href="#"><i class="fab fa-instagram"></i></a></li> %>
        </ul>
        <p class="copy"><a href="https://www.sanm13.fr/">s.a.n.m</a> &copy; 2022</p>
      </div>
    </div>


    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  </body>
</html>
