<!-- NAVBAR DESKTOP -->
<nav class="navdesktop">
  <ul>
    <div class="home">
      <li><%= link_to "Home" %></li>
    </div>
    <div class="liens">
      <li><%= link_to "Mes services" %></li>
      <li><%= link_to "À propos" %></li>
      <li><%= link_to "Me contacter" %></li>
    </div>
  </ul>
</nav>

<!-- NAVBAR MOBILE -->
<nav class="navmobile">
  <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <ul class="mobile-menu">
      <li><a href="/mes services">Mes services</a></li>
      <li><a href="/à porpos">À propos</a></li>
      <li><a href="/me contacter">Me contacter</a></li>
    </ul>
  </div>
</nav>

<!-- BANNER -->
<div class="banner-home">
  <div class="text">
    <h1>S.A.N.M</h1>
    <div class="name">
      <p>SECRÉTAIRE ADMINISTRATIVE NATHALIE MEDINA</p>
    </div>
    <p>Spécialisée en documents
    <br>administratifs navires et VNM</p>
  </div>
</div>

<!-- EN SAVOIR PLUS -->
<div class="savoir">
  <%= link_to "En savoir plus" %>
</div>

<!-- FLÈCHES -->
<a class="arrow" href="#">
  <span class="fleche"></span>
  <span class="fleche"></span>
</a>

<!-- TEST -->
<div class="container">
  <div class="cards">
    <div class="card">
      <img src="https://source.unsplash.com/random/?sailing,ship" alt="">
      <div class="card-infos">
        <h2>Changement de propriétaire bâteau / VNM</h2>
        <p>Tout navire de plaisance français naviguant en mer doit être enregistré auprès d’une délégation à la mer et au littoral au sein d'une direction départementale des territoires et de la mer (DDTM - DML)</p>
      </div>
    </div>

    <div class="card">
      <img src="https://source.unsplash.com/random/?harbour" alt="">
      <div class="card-infos">
        <h2>Acte de vente d’un navire de plaisance ou VNM</h2>
        <p>Mutation de propriété d’un navire de plaisance ou VNM entre un ou plusieurs copropriétaires</p>
      </div>
    </div>

    <div class="card">
      <img src="https://source.unsplash.com/random/?yacht" alt="">
      <div class="card-infos">
        <h2>Changement de port d’attache</h2>
        <p>Enregistrement du navire auprès de la direction départementale des territoires et de la mer (DDTM - DML)</p>
      </div>
    </div>

    <div class="card">
      <img src="https://source.unsplash.com/random/?sailing" alt="">
      <div class="card-infos">
        <h2>Débarquement / Embarquement de moteur</h2>
        <p>Tout changement de moteur sur un bâteau de plaisance ou sur un VNM implique une déclaration obligatoire effectuée auprès des administrations dans un délais d’un mois</p>
      </div>
    </div>
  </div>
</div>
